<div id="content-container" class="container">
  <div class="content-menu">
    <button matButton="filled" class="content-menu-btn" aria-label="Example icon button with a menu icon"
            (click)="goToAdd()">
      <mat-icon>add</mat-icon>
      Add
    </button>
    <mat-paginator [pageSizeOptions]="[10, 20, 30, 100]" aria-label="Select page of users"></mat-paginator>

    <div class="filter">
      <label>
        <mat-icon>search</mat-icon>
        Filter
      </label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Thomas" #input>
    </div>
  </div>
  <div class="content-content">
    <div class="mat-elevation-z8">
      @if(fetchingData()){
        <mat-spinner></mat-spinner>
      } @else {
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
          <td mat-cell *matCellDef="let row" class="id-actions">
            <div>
              <button matIconButton [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="this.deleteUser(row.uuid)">
                  <mat-icon>delete</mat-icon>
                  <span>Delete</span>
                </button>

                <button mat-menu-item (click)="this.goToEdit(row.uuid)">
                  <mat-icon>edit</mat-icon>
                  <span>Edit</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>no_crash</mat-icon>
                  <span>Assign car</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>car_crash</mat-icon>
                  <span>Unassign car</span>
                </button>
              </mat-menu>
            </div>
            <p>
              {{ row.name }}
            </p>
          </td>

        </ng-container>

        <ng-container matColumnDef="car">
          <th mat-header-cell *matHeaderCellDef mat-sort-header matSort> Car</th>
          <td mat-cell *matCellDef="let row"> {{ row.car == null ? "None" : row.car.numberPlate }}</td>
        </ng-container>

        <ng-container matColumnDef="workingHours">
          <th mat-header-cell *matHeaderCellDef mat-sort-header matSort> Working Hours / Week</th>
          <td mat-cell *matCellDef="let row"> {{ row.workingHours }}</td>
        </ng-container>

        <ng-container matColumnDef="badge">
          <th mat-header-cell *matHeaderCellDef mat-sort-header matSort> Badge Number</th>
          <td mat-cell *matCellDef="let row"> {{ row.badge }}</td>
        </ng-container>

        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef mat-sort-header matSort> Role</th>
          <td mat-cell *matCellDef="let row"> {{ row.role }}</td>
        </ng-container>

        <div class="table" style="color: red">
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </div>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{ input.value }}"</td>
        </tr>
      </table>
      }
    </div>
  </div>
</div>
