<div class="notification" #notification>
  @if (importance == NotificationImportance.NORMAL) {
    <h3>{{ title }}</h3>
  } @else if (importance == NotificationImportance.ERROR) {
    <h3 style="color: red">{{ title }}</h3>
  } @else if (importance == NotificationImportance.WARNING) {
    <h3 style="color: orange">{{ title }}</h3>
  } @else if (importance == NotificationImportance.IMPORTANT) {
    <h3 style="color: blue">{{ title }}</h3>
  } @else if (importance == NotificationImportance.ACCEPTED) {
    <h3 style="color: green !important">{{ title }}</h3>
  }
  <p>{{ message }}</p>
</div>
