.notification{
  width: 300px;
  height: 100px;
  position: absolute;
  z-index: 999;
  bottom: 40px;
  right: 40px;
  background: white;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 4px 0 rgb(175, 175, 175);
}
