
/*CONTENT*/

#content-container{
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
}

.content-menu{
  display: flex;
  justify-content: space-between;
  max-height: 100px;
  align-items: center;
}



.employee-form{
  display: flex;
  flex-direction: column;
}

.content-content > .content-wrapper {
  width: 100% !important;
  display: flex;
  justify-content: center;
}
.id-actions{
  width: fit-content !important;
  max-width: 40px;
}
