#container{
  width: 100dvw;
  height: 100dvh;
}
/*LAYOUT*/
#interface-container{
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 50px 1fr;
  row-gap: 20px;
  column-gap: 20px;
  padding: 10px;
  height: calc(100dvh - 50px);
}

.container{
  width: 100%;
  height: 100%;
  background: white !important;
}


#interface-header{
  grid-area: 1 / 1 / 2 / 4;
  padding: 10px;
}

#interface-menu {
  border-radius: 10px;
  grid-area: 2 / 1 / 2 / 2;
  padding: 10px;
}

#interface-content {
  grid-area: 2 / 2 / 3 / 3;
  background: white;
  padding: 10px;
}

/*HEADER*/  /*MENU*/

.header-title, #menu-container{
  box-shadow: 0 0 10px 0 #b2b2b2;
  border-radius: 10px;
  z-index: 1;
  padding: 10px;
}


  /*HEADER*/
#header-container{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: #f3f3f3;
}

.header-title{
  --img-height: 30px;
  height: 100%;
  max-height: 30px;
  display: flex;
  gap: 20px;
  width: 100%;
  align-items: center;
}
.header-title > img {
  height: var(--img-height);
  background: transparent;
}

/*MENU*/
#user-container {
  padding: 10px 0;
  display: flex;
  align-items: center;
  gap: 10px;
  height: 100%;
  max-height: 90px;
}

#user-container > img {
  height: 100%;
  border-radius: 10px;
  width: 100%;
  max-width: 80px;
}

.permission-group{
/*  temporary style*/
  background: #ff7777;
  padding: 0 10px;
  width: fit-content;
  border-radius: 10px;
  font-weight: bold;
  color: white;
}

.user-details {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

#actions-container{
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 10px;
  overflow: hidden;
}

/*NOTIFICATION*/
.notification{
  width: 300px;
  height: 100px;
  position: absolute;
  z-index: 999;
  bottom: 40px;
  right: 40px;
  background: #f3f3f3;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 10px -5px rgb(80, 80, 80);
}
