.dialog-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  height: 100% !important;
}

.mat-icon {
  font-size: 30px !important;
  width: fit-content;
}

.entity-details{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  height: 100% !important;
}

