// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;


$color-buttons: mat.m2-get-color-from-palette(mat.$azure-palette, 90);
$color-buttons-hover: mat.m2-get-color-from-palette(mat.$azure-palette, 80, 10%);
$form-fields: mat.m2-get-color-from-palette(mat.$azure-palette, 80, 10%);

:root {

  @include mat.dialog-overrides((
    container-shape: 10px,
  ));

  @include mat.fab-overrides((
    container-elevation-shadow: -4px -4px 5px 0px rgba(0, 0, 0, 0.5),
  ));

  @include mat.button-overrides((
    filled-container-color: $color-buttons,
    filled-label-text-color: balck,
    filled-container-shape: 8px,
    // color layer (hover, focus, pressed)
    filled-state-layer-color: $color-buttons-hover,
    // opacity (hover/focus/pressed)
    filled-hover-state-layer-opacity: 1,
    filled-focus-state-layer-opacity: 1,
    filled-pressed-state-layer-opacity: 1,
  ));

  @include mat.expansion-overrides((
    actions-divider-color: white,
    container-background-color: white,
    container-shape: 0,
    header-hover-state-layer-color: $color-buttons,
    header-text-size: 16px
  ));

  @include mat.table-overrides((
    background-color: white,
    header-headline-color: #1d1d1f,
  ));

  @include mat.form-field-overrides((
    filled-container-shape: 8px,
    outlined-container-shape: 8px,
    filled-container-color: $form-fields,
  ));
}

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
    weight: 400,
  ));

}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}

.mat-expansion-panel-body {
  padding: 0 !important;
  display: flex;
  flex-direction: column;
}

.action-logout:hover > .mat-ripple.mat-mdc-button-ripple {
  background-color: #ffb7b7 !important;
}

.mat-expansion-panel-header {
  font-size: 16px !important;
  justify-items: start;
  padding-left: 15px !important;
}

.mat-expansion-panel-header.mat-focused,
.mat-expansion-panel-header.mat-expanded {
  background-color: $color-buttons !important;
}

.mat-icon {
  font-size: 20px !important;
  align-content: center;
  width: fit-content;
}

mat-paginator {
  justify-self: center;
  background: white !important;
}

#actions-container .mdc-button {
  background-color: white;
  height: 50px;
  font-size: 16px;
  justify-content: flex-start !important;
  border-radius: 0;
}

#actions-container .mdc-button:hover {
  background-color: $color-buttons;
}

.mdc-button.action-logout {
  color: #ff0000 !important;
}

.mat-mdc-table, cdk-table {
  overflow: hidden;
  border-radius: 10px !important;
}

mat-label{
  display: flex;
  align-items: center;
  gap: 10px
}

